# Local Netlify folder
.netlify

# Dependencies and build output
node_modules/
dist/
.vite/

# macOS metadata
.DS_Store
**/.DS_Store

# Local secret environment files
backend_scripts/neon/neon_env.bash
